<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
		<title>StockBrief</title>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/stockbrief.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="../static/js/jquery-2.2.0.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	</head>
	<body>
	<!-- Header, stock info input -->
		<div class="container">
	      <div class="jumbotron card-top">
	      	<div class="container text-center header">
		        <h1><img src="../static/stockbrief.png" width="15%" style="margin: 0px 10px 10px 10px;"></img>StockBrief</h1>
		        <form class="form-inline">
		          <div class="form-group">
		            <!-- <select class="stocks brf-input"></select>		           -->
		            <input type="text" id="stock_name" placeholder="Search Stock Name"></input>
		           </div>
		         </form>
    	       <p><a id="search" class="btn btn-lg btn-brief" role="button" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">SEARCH</a></p>
	        </div>
	      </div>
    </div> 
    <!-- /container End stock name-->
    <!-- START STOCK INFO AND DATA -->
    <div id="scroll_here" class="container" style="margin-top: -35px">
	    <div class="collapse" id="collapseExample">
	      <div class="well">
	        <div style="height: 300px">
	        	<h3> Closing Values: </h3>
	        	<canvas id="canvas" height="150" width="500"></canvas>
	        </div>
	        <div class="row" style="margin-top: 25px;">
	        	<div class="col-sm-6 azure">
	        		<h3><i class="fa fa-usd"></i>&nbsp Price Projection:</h3>
	        			<span class="prediction" id="pred">
	        				
	        			</span>
	        	</div>
	        	<div class="col-sm-6 twitter">
	        		<h3><i class="fa fa-twitter"></i>&nbsp What Twitter Thinks:</h3>
	        		<span class="prediction" id="tweets">
	        		</span>
	        	</div>
	        </div>
	      	<div class="row nytimes">
	      	<div class="col-sm-12" id="articles">
	      	<h3>Latest from the NY Times:</h3>
	        </div>
        	</div>
	      </div>
	    </div>
    </div>
    <script src="../static/js/stock-chart.js"></script>
    <script src="../static/js/app.js"></script>	
  </body>
</html>